.Selected {
  width: 100%;
  min-height: 24px;
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px; }

.Selected-item {
  display: inline-block;
  width: auto;
  border: 1px solid #cccccc;
  background-color: white;
  border-radius: 4px;
  padding: 1px 4px;
  margin: 2px 2px; }

.u-center-align {
  text-align: center; }
