.Selected {
  width: 100%;
  min-height: 36px;
  background-color: lightblue;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 2px; }

.Selected-item {
  color: #444444;
  display: inline-block;
  width: auto;
  border: 1px solid gray;
  background-color: #e4e4e4;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 4px 4px; }

.Selected-itemIcon {
  margin-left: 4px; }
